{##
 # Fastlane checkout sections navigation
 #}

<navigation inline-template>
  <ul role="tablist" class="nav nav-pills" v-data='{{ this.getWidgetData()|raw }}'>
    {% for tab, tabPage in this.getTabs() %}
      <li is="navigation-item" inline-template class="tab disabled {% if tabPage.selected and this.isStartAsActive() %} active{% endif %}">
        <a data-target="#{{ tab }}"
           v-name="{{ tab }}"
           v-index="{{ tabPage.index }}"
           role="tab"
           data-index=""
           v-on:click="triggerSwitch"
           v-el:link
        >
          <span class="position">{{ loop.index }}</span>
          <span class="title">{{ t(tabPage.title) }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</navigation>
