{##
 # Language selector
 #}

<script type="text/javascript">
  var currenciesByCountry = [];
{% for countryCode, currencyCode in this.getCountriesByCurrency() %}
  currenciesByCountry['{{ countryCode }}'] = '{{ currencyCode }}';
{% endfor %}
</script>

{% form '\\XLite\\Module\\XC\\MultiCurrency\\View\\Form\\Currency\\CustomerCurrency' %}
    <div class="group">
      <p class="heading">{{ t('Location & Currency') }}</p>
      {% if this.hasAvailableCountries() %}
        {{ widget('XLite\\Module\\XC\\MultiCurrency\\View\\FormField\\Select\\Currency\\CustomerCountry', fieldName='country_code', style='country-code-selector') }}
      {% endif %}
      {% if this.hasMultipleCurrencies() %}
        {{ widget('XLite\\Module\\XC\\MultiCurrency\\View\\FormField\\Select\\Currency\\CustomerCurrency', fieldName='currency_code', style='currency-code-selector') }}
      {% endif %}
    </div>

    <div class="group">
      <p class="heading">{{ t('Language') }}</p>
      {% if this.hasMultipleLanguages() %}
        {{ widget('XLite\\Module\\XC\\MultiCurrency\\View\\FormField\\Select\\Currency\\CustomerLanguage', fieldName='language', style='language-selector') }}
      {% endif %}
    </div>

    <div class="group">
      {{ widget('XLite\\View\\Button\\Submit', label=t('Save'), style='regular-main-button submit') }}
    </div>
{% endform %}