{##
 # Social Login sign-in button
 #}

{% if this.getTextBefore() %}
  <div class="social-login-note note-before">
    {{ this.getTextBefore() }}
  </div>
{% endif %}

<div class="social-login-container">
  <ul class="social-login">
    <li class="social-net-element social-net-{{ this.getButtonStyle() }} social-net-Amazon">
      <div id="loginWithAmazonDiv_{{ this.getButtonStyle() }}_{{ this.getHash() }}"></div>
    </li>
  </ul>
</div>

{% if this.getTextAfter() %}
  <div class="social-login-note note-after">
    {{ this.getTextAfter() }}
  </div>
{% endif %}
