{##
 # Invoice bottom block
 #
 # @ListChild (list="packing_slip.addresses", weight="20")
 #}

<td class="merchant-data">
  <div class="merchant-data-block merchant-address">
    <h3>{{ this.config.Company.company_name }}</h3>
    <p>
      {% if this.config.Company.location_address %}{{ this.config.Company.location_address }}<br />{% endif %}
      {% if this.config.Company.location_city %}{{ this.config.Company.location_city }}, {% endif %}{% if this.config.Company.locationState.state %}{{ this.config.Company.locationState.state }}, {% endif %}{% if this.config.Company.location_zipcode %}{{ this.config.Company.location_zipcode }}{% endif %}<br />
      {% if this.config.Company.locationCountry %}{{ this.config.Company.locationCountry.getCountry() }}{% endif %}
    </p>
    {% if this.config.Company.company_phone or this.config.Company.company_fax %}
      <p>
        {% if this.config.Company.company_phone %}{{ t('Phone') }}: {{ this.config.Company.company_phone }}<br />{% endif %}
        {% if this.config.Company.company_fax %}{{ t('Fax') }}: {{ this.config.Company.company_fax }}{% endif %}
      </p>
    {% endif %}
    {% if this.config.Company.company_website %}
      <p class="url">
        <a href="{{ this.config.Company.company_website }}">{{ this.config.Company.company_website }}</a>
      </p>
    {% endif %}
  </div>
</td>

