{##
 # Calculate quick data progress section
 #}
<div class="dialog-block quick-data-box quick-data-progress">

  <div class="header clearfix">
    <h2>{{ t('Calculating quick data...') }}</h2>
  </div>

  <div class="content">
    {% form 'XLite\\View\\Form\\QuickData' with {formAction: 'quickDataCancel'} %}
    <div class="subcontent">
      {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName()) }}
      {{ widget('XLite\\View\\Button\\Submit', label=t('Cancel')) }}
      <div class="time">{{ t('About X remaining', {'time': this.getTimeLabel()}) }}</div>
    </div>
    <div class="help">
      <i class="icon-info-sign"></i>
      <p>
        {% if this.isBlocking() %}
        {% else %}
        {{ t('The process of quick data calculation may take a while to complete. Please do not close this page until the process is fully completed.') }}
        {% endif %}
      </p>
    </div>
    {% endform %}
  </div>

</div>
