{##
 # Parcel characteristics
 #}

<h3>{{ t('Parcel characteristics') }}</h3>

<table class="capost-parcel-options">

  <tr>
    <td>{{ t('Total items weight') }}:</td>
    <td>
      {{ parcel.getWeightInKg(1) }} {{ t('kg') }}
      {% if parcel.isOverWeight() %}
        <span class="error-message">({{ t('warning: parcel is overweight') }})</span>
      {% endif %}
    </td>
  </tr>

  <tr>
    <td>{{ t('Box maximum weight') }}:</td>
    <td>{{ parcel.getBoxWeightInKg(1) }} {{ t('kg') }}</td>
  </tr>

  <tr>
    <td>{{ t('Dimensions (cm)') }}:<br />({{ t('Length') }} x {{ t('Width') }} x {{ t('Height') }})</td>
    <td class="parcel-dimensions">
      {{ widget('\\XLite\\Module\\XC\\CanadaPost\\View\\FormField\\Input\\Text\\Dimension', fieldName='parcelsData[' ~ parcel.getId() ~ '][boxLength]', fieldOnly='true', value=parcel.getBoxLength()) }}
      {{ widget('\\XLite\\Module\\XC\\CanadaPost\\View\\FormField\\Input\\Text\\Dimension', fieldName='parcelsData[' ~ parcel.getId() ~ '][boxWidth]', fieldOnly='true', value=parcel.getBoxWidth()) }}
      {{ widget('\\XLite\\Module\\XC\\CanadaPost\\View\\FormField\\Input\\Text\\Dimension', fieldName='parcelsData[' ~ parcel.getId() ~ '][boxHeight]', fieldOnly='true', value=parcel.getBoxHeight()) }}
    </td>
  </tr>

  <tr>
    <td>{{ t('Parcel type') }}:</td>
    <td class="inline-options">
      {% if not this.displayOnlyContractedOptions(parcel) %}
        <label for="is-document-{{ parcelIdx }}">
          {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', fieldId='is-document-' ~ parcelIdx, fieldName='parcelsData[' ~ parcel.getId() ~ '][isDocument]', fieldOnly='true', value='1', isChecked=parcel.getIsDocument()) }}
          <span class="value-label">
            {{ t('Document') }}
          </span>
        </label>
      {% endif %}
      <label for="is-unpackaged-{{ parcelIdx }}">
        {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', fieldId='is-unpackaged-' ~ parcelIdx, fieldName='parcelsData[' ~ parcel.getId() ~ '][isUnpackaged]', fieldOnly='true', value='1', isChecked=parcel.getIsUnpackaged()) }}
        <span class="value-label">
          {{ t('Unpackaged') }}
        </span>
      </label>
      <label for="is-mailing-tube-{{ parcelIdx }}">
        {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', fieldId='is-mailing-tube-' ~ parcelIdx, fieldName='parcelsData[' ~ parcel.getId() ~ '][isMailingTube]', fieldOnly='true', value='1', isChecked=parcel.getIsMailingTube()) }}
        <span class="value-label">
          {{ t('Mailing tube') }}
        </span>
      </label>
      {% if this.displayOnlyContractedOptions(parcel) %}
        <label for="is-oversized-{{ parcelIdx }}">
          {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', fieldId='is-oversized-' ~ parcelIdx, fieldName='parcelsData[' ~ parcel.getId() ~ '][isOversized]', fieldOnly='true', value='1', isChecked=parcel.getIsOversized()) }}
          <span class="value-label">
            {{ t('Oversized') }}
          </span>
        </label>
      {% endif %}
    </td>
  </tr>

  <tr>
    <td>{{ t('Notification') }}:</td>
    <td class="inline-options">
      <label for="notify-on-shipment-{{ parcelIdx }}">
        {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', fieldId='notify-on-shipment-' ~ parcelIdx, fieldName='parcelsData[' ~ parcel.getId() ~ '][notifyOnShipment]', fieldOnly='true', value='1', isChecked=this.isNotifyOnShipment(parcel)) }}
        <span class="value-label">
          {{ t('On shipment') }}
        </span>
      </label>
      <label for="notify-on-exception-{{ parcelIdx }}">
        {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', fieldId='notify-on-exception-' ~ parcelIdx, fieldName='parcelsData[' ~ parcel.getId() ~ '][notifyOnException]', fieldOnly='true', value='1', isChecked=parcel.getNotifyOnException()) }}
        <span class="value-label">
          {{ t('On exception') }}
        </span>
      </label>
      <label for="notify-on-delivery-{{ parcelIdx }}">
        {{ widget('\\XLite\\View\\FormField\\Input\\Checkbox', fieldId='notify-on-delivery-' ~ parcelIdx, fieldName='parcelsData[' ~ parcel.getId() ~ '][notifyOnDelivery]', fieldOnly='true', value='1', isChecked=parcel.getNotifyOnDelivery()) }}
        <span class="value-label">
          {{ t('On delivery') }}
        </span>
      </label>
    </td>
  </tr>

</table>
