{##
 # ____file_title____
 #}

{% if not this.getParam('fieldOnly') %}
  <div class="{{ this.getLabelContainerClass() }}">
    <label for="{{ this.getFieldId() }}">{{ this.getFormattedLabel() }}</label>
  </div>
  <div class="star">
    {% if this.getParam('required') %}*{% else %}&nbsp;{% endif %}
  </div>
{% endif %}

<div class="{{ this.getValueContainerClass() }}">
  {% include this.getDir() ~ '/' ~ this.getFieldTemplate() %}
  {% if this.getParam('help') %}
    {{ widget('\\XLite\\View\\Tooltip', text=this.getParam('help'), isImageTag='true', className='help-icon') }}
  {% endif %}
  {% if this.getParam('comment') %}
    <div class="form-field-comment {{ this.getFieldId() }}-comment">{{ t(this.getParam('comment')) }}</div>
  {% endif %}
  {% if this.getFormFieldJSData() %}{{ this.displayCommentedData(this.getFormFieldJSData()) }}{% endif %}
  {% if this.getInlineJSCode() %}
    <script type="text/javascript">{{ this.getInlineJSCode() }}</script>
  {% endif %}
</div>

{% if not this.getParam('fieldOnly') %}
  <div class="clear"></div>
{% endif %}
