{##
 # Welcome section. Bottom steps line. 
 #
 #}

<div class="bottom-line">

  <div class="step1">
    <a href="{{ this.getFreeTrialLink() }}" target="_blank" class="btn regular-button regular-main-button" style="text-decoration: none;">{{ t('Sign up') }}</a>
  </div>

  <div class="step2">
    <a href="{{ this.getConfigureLink() }}" target="_blank">{{ t('See how') }}</a>
  </div>

  <div class="step3">
    <a href="{{ this.getConnectLink() }}" target="_blank">{{ t('See how') }}</a>
  </div>

</div>


