{##
 # Storefront status
 #}

<div {{ this.printTagAttributes(this.getContainerTagAttributes())|raw }}>
  {% if this.isTogglerVisible() %}
    <a href="{{ this.getLink() }}" {{ this.printTagAttributes(this.getTogglerTagAttributes())|raw }}><div><span class="svg">{{ this.getSVGImage('images/check.svg')|raw }}</span></div></a>
  {% endif %}
  <a href="{{ this.getOpenedShopURL() }}" class="link opened" target="_blank">{{ this.getOpenTitle()|raw }}</a>
  <span class="link closed">{{ this.getCloseTitle()|raw }}</span>
</div>
