{##
 # Common selector
 #}

<select id="{{ this.getFieldId() }}" name="{{ this.getName() }}"{{ this.getAttributesCode()|raw }}>
  {% for optionValue, optionLabel in this.getOptions() %}
    <option value="{{ optionValue }}" {% if optionValue == this.getValue() %} selected="selected" {% endif %}>{{ optionLabel|raw }}</option>
  {% endfor %}
</select>
