{##
 # Modules list
 #
 # @ListChild (list="itemsList.module.manage.sections", weight="400")
 #}

{% form '\\XLite\\View\\Form\\Module\\Manage' %}
  <table cellspacing="0" cellpadding="0" class="data-table items-list modules-list">
    {% for idx, module in this.getPageData() %}
    <tr class="line module-item module-{{ module.getModuleId() }} module-{{ module.getName() }}{% if not module.getEnabled() %} disabled{% endif %}">
    {{ widget_list('columns', type='inherited', module=module) }}
    </tr>
    {% endfor %}
  </table>
  <div class="pager-bottom {{ this.pager.getCSSClasses() }}">{{ this.pager.display() }}</div>
  {{ widget('XLite\\View\\StickyPanel\\ItemsList\\ManageModules') }}
{% endform %}
