
{% block form_input_wrapper %}
    {% if is_data_field %}
        <div class="input-wrapper hidden" v-bind:class="{{ '{' }}'hidden':!isEdited('{{ v_model }}'){{ '}' }}">
            {{- form_widget(form) -}}
        </div>
        <div v-on:click="setEdited('{{ v_model }}', $event)" v-bind:class="{{ '{' }}'hidden':isEdited('{{ v_model }}'){{ '}' }}" class="placeholder">{{ t('Click to apply value to selected products') }}</div>
        <div v-on:click="setNotEdited('{{ v_model }}', $event)" v-bind:class="{{ '{' }}'hidden':!isEdited('{{ v_model }}'){{ '}' }}" class="undo hidden"><i class="fa fa-undo" aria-hidden="true"></i></div>
    {% else %}
        <div class="input-wrapper">
            {{- form_widget(form) -}}
        </div>
    {% endif %}
{% endblock %}
