{##
 # ____file_title____
 #}

<p>{{ t('This page allows you to configure Shipping methods, zones and charges.') }}</p>
<hr />

<a href="{{ url('shipping_methods') }}"><img src="{{ asset('images/go.gif') }}" width="13" height="13" align="absmiddle" alt="" /> {{ t('Shipping methods') }}</a><br />
<a href="{{ url('shipping_rates') }}"><img src="{{ asset('images/go.gif') }}" width="13" height="13" align="absmiddle" alt="" /> {{ t('Shipping charges') }}</a><br />
<a href="{{ url('zones') }}"><img src="{{ asset('images/go.gif') }}" width="13" height="13" align="absmiddle" alt="" /> {{ t('Shipping zones') }}</a><br />

<br /><br />
