{##
 # Plain address block
 #}

<div class="address-box-content">
  <ul class="address-box">
    {% for fieldName, fieldData in this.getAddressFields() %}
      {% if this.getFieldValue(fieldName, this.address, 1) %}
        <li class="address-text-cell address-text-{{ fieldName }}">
          <ul class="address-text">
            <li class="address-text-label address-text-label-{{ fieldName }}">{{ fieldData.label }}:</li>
            <li class="address-text-value">{{ this.getFieldValue(fieldName, this.address, 1) }}</li>
            <li class="address-text-comma address-text-comma-{{ fieldName }}">,</li>
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="clear"></div>
</div>

<div class="clear"></div>
