{##
 # Pick address from address book
 #}
{% form '\\XLite\\View\\Form\\SelectAddress' with {className: 'select-address'} %}

  {{ widget_list('select-address.before') }}

  {% if this.hasAddresses() %}

    <ul class="addresses clearfix">
      {% for address in this.getAddresses() %}
        <li class="{{ this.getItemClassName(address, loop.index) }}" data-address-id="{{ address.getAddressId() }}">
          {{ widget(template='select_address/address.twig', address=address) }}
          {% if address.getIsShipping() %}
            <div class="shipping"></div>
          {% endif %}
          {% if address.getIsBilling() %}
            <div class="billing"></div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  {% else %}

    <p>{{ t('Addresses list is empty') }}</p>

  {% endif %}

  {{ widget_list('select-address.after') }}

{% endform %}
