{##
 # Wholesale prices
 #}

<div class="tooltip-main">
  {% if this.entity.getDefaultPrice() %}
    <img class="tooltip-caption" src="skins/admin/en/modules/CDev/Wholesale/wp2.svg" alt="" height="20" />
  {% else %}
  <a href="{{ this.getLink() }}" class="tooltip-caption">
    <img src="skins/admin/en/modules/CDev/Wholesale/wp.svg" alt="" height="20" />
  </a>
  {% endif %}
  <div class="help-text" style="display: none;">
    {% if this.entity.getDefaultPrice() %}
    <b>{{ t('Set the price for this variant to define variant\'s personal wholesale prices') }}</b><br />
    {% if this.getWholesalePrices() %}
      <a href="{{ this.getLink() }}">{{ t('View parent product\'s wholesale prices') }}</a>
    {% endif %}
    {% elseif this.getWholesalePrices() %}
    <b>{{ t('Wholesale pricing') }}</b><br />
    <ul>
      {% for wp in this.getWholesalePrices() %}
        <li>
          {{ t('from') }} {{ wp.quantityRangeBegin }}:
          {{ this.formatPrice(wp.price) }}
          {% if wp.membership %}
            ({{ wp.membership.name }})
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
    <b>{{ t('Wholesale prices are not defined') }}</b>
    {% endif %}
  </div>
</div>
