{##
 # Resize progress section
 #}
<div class="dialog-block bulk-edit-box bulk-edit-progress">

  <div class="header clearfix">
    <h2>{{ t('Bulk edit...') }}</h2>
  </div>

  <div class="content">
    {% form 'XLite\\Module\\XC\\BulkEditing\\View\\Form\\Progress' %}
    <div class="subcontent">
      {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName()) }}
      {{ widget('XLite\\View\\Button\\Submit', label=t('Cancel')) }}
      <div class="time">{{ t('About X remaining', {'time': this.getTimeLabel()}) }}</div>
    </div>
    <div class="help">
      <i class="icon-info-sign"></i>
      <p>
        {% if this.isBlocking() %}
        {% else %}
        {{ t('The image resizing process may take a while to complete. Please do not close this page until the process is fully completed.') }}
        {% endif %}
      </p>
    </div>
    {% endform %}
  </div>

</div>
