{##
 # Compare link
 #}

<li class="account-link-compare compare-indicator {{ this.getIndicatorClasses() }}">
  <a {% if not this.isDisabled() %}href="{{ this.getCompareURL() }}"{% endif %} data-target="{{ this.getCompareURL() }}" title="{{ this.getLinkHelpMessage() }}">
	<span>{{ t('Compare') }}</span>
	<span class="counter">{{ this.getComparedCount() > 0 ? this.getComparedCount() : "" }}</span>
  </a>
</li>
