{##
 # Browser server dialog : item : name
 #
 # @ListChild (list="browseServer.item", zone="admin", weight="100")
 #}
<a class="{{ this.getItemClass(this.entry) }}" title="{{ this.entry.fullName }}"><img src="{{ asset('images/spacer.gif') }}" alt="{{ this.entry.type }}" /><span>{{ this.entry.name }}</span></a>
