{##
 # Left side menu info node
 #}
<li {{ this.printTagAttributes(this.getNodeTagAttributes())|raw }}>
  {% if this.getHeaderURL() %}
    <a href="{{ this.getHeaderURL() }}">
      <div class="notification-header">
      {{ this.getIcon()|raw }}
      <span>{{ this.getHeader() }}</span>
      {% if this.getCounter() %}
        <div class="counter">{{ this.getCounter() }}</div>
      {% endif %}
      </div>
    </a>
    {% else %}
    <div class="notification-header">
    {{ this.getIcon()|raw }}
    <span>{{ this.getHeader() }}</span>
    {% if this.getCounter() %}
      <div class="counter">{{ this.getCounter() }}</div>
    {% endif %}
    </div>
  {% endif %}
</li>

