{##
 # Rating value in product info
 #}
{% if this.isVisibleAverageRatingOnPage() %}
  <div class="product-average-rating">
    <input type="hidden" name="target_widget" value="\XLite\Module\XC\Reviews\View\Customer\ProductInfo\Details\AverageRating" />
    <input type="hidden" name="widgetMode" value="{{ this.getWidgetMode() }}" />
    {{ widget_list('reviews.product.rating', product=this.getRatedProduct()) }}
    {% if this.isVisibleReviewsCount() and this.getReviewsCount() > 0 %}
      <div class="reviews-count no-reviews">
        &mdash;
        <a href="{{ this.getRatedProductURL() }}" class="link-to-tab">
          {{ this.getReviewsCount() }}
        </a>
      </div>
    {% endif %}
    {% if this.isVisibleReviewsCount() and this.getReviewsCount() == 0 %}
      <div class="reviews-count">
        {{ t('No reviews.') }}
      </div>
    {% endif %}
    {% if this.isAllowedAddReview() %}
      <span class="separator">|</span>
      <a href="{{ this.getRatedProductURL() }}" class="link-to-tab">
            {{ widget('\\XLite\\Module\\XC\\Reviews\\View\\Button\\Customer\\AddReviewLink', label=t('Be the first and leave a feedback.'), product=this.product) }}
      </a>
    {% endif %}
  </div>
{% endif %}
