{##
 # Skrill settings
 #}

{{ widget('\\XLite\\View\\Payment\\MethodStatus', method=this.getPaymentMethod()) }}

<p class="mb-register-note">{{ t('Don\'t have an account? Sign up for free', {'url': this.getRegisterURL()})|raw }}</p>

<form action="{{ url() }}" method="post" class="mb-activation">
  <input type="hidden" name="target" value="{{ this.target }}" />
  <input type="hidden" name="action" value="update" />
  <input type="hidden" name="returnURL" value="{{ this.getURL() }}" />
  {{ widget('\\XLite\\View\\FormField\\Input\\FormId') }}

  <ul>

    <li class="mb-email">
      <div class="table-label">
        <label for="mb_email">{{ t('Email address of your Skrill account') }}:</label>
      </div>
      <div class="table-value">
        <input type="text" class="form-control" id="mb_email" name="email" value="{{ this.config.CDev.Moneybookers.email }}"/>
      </div>
    </li>

    <li class="mb-id">
      <div class="table-label">
        <label for="mb_id">{{ t('Skrill Customer ID') }}:</label>
      </div>
      <div class="table-value">
        <input type="text" class="form-control" id="mb_id" name="id" value="{{ this.config.CDev.Moneybookers.id }}" />
      </div>
    </li>

    <li>
      <div class="table-label">
        <label for="mb_word">{{ t('Secret Word') }}:</label>
      </div>
      <div class="table-value">
        <input type="password" class="form-control"  id="mb_word" name="secret_word" value="{{ this.config.CDev.Moneybookers.secret_word }}" />
      </div>
    </li>

  </ul>

  <p class="mb-activation-note">{{ t('Skrill Quick Checkout description')|raw }}</p>

  <div class="buttons">
    {{ widget('\\XLite\\View\\Button\\Submit', label='Submit', style='action regular-main-button') }}
  </div>
</form>

<hr class="mb-line" />

<form action="{{ url() }}" method="post" class="mb-order-prefix">
  <input type="hidden" name="target" value="{{ this.target }}" />
  <input type="hidden" name="action" value="setOrderPrefix" />
  {{ widget('\\XLite\\View\\FormField\\Input\\FormId') }}

  <p class="mb-order-prefix-note">{{ t('You can define an order id prefix, which would precede each order number in your shop, to make it unique (each transaction id must be unique for a Skrill account)') }}</p>
  <p class="mb-order-prefix-option">{{ t('This options is relevant only if you share your Skrill account with other online shops.') }}</p>


  <ul>

    <li>
      <label for="mb_order_prefix">{{ t('Order id prefix') }}:</label>
      <input type="text" class="form-control" id="mb_order_prefix" name="prefix" value="{{ this.config.CDev.Moneybookers.prefix }}" />
      {{ widget('\\XLite\\View\\Button\\Submit', label='Submit') }}
      <div>{{ t('(optional)') }}</div>
    </li>

  </ul>

</form>

<hr class="mb-line" />

<p class="mb-support-note">
  {{ t('Support') }}:<br />
  {{ t('Do you have questions?') }}<br />
  {{ t('Contact Skrill at newbusiness@paysafe.com')|raw }}
</p>
