{##
 # Low limit warning email body (to admin)
 #}
<p>
  {{ t('SKU') }}: {{ this.data.sku }}<br />
  {{ t('Product name') }}: {{ this.data.name }}<br />
  {{ t('Attributes') }}<br />
  <ul>
    {% for av in this.data.attributes %}
      <li>
          {{ av.name }}: <span>{{ av.value }}</span>
      </li>
    {% endfor %}
  </ul>
  <br />
  {{ t('In stock') }}: {{ t('X items', {'count': this.data.amount}) }}
</p>
<p>
  {{ t('Click the link to increase variant amount')|raw }}: <a href="{{ this.data.variantsTabUrl }}">{{ this.data.variantsTabUrl }}</a>
</p>
