{##
 # Checkout shipping address form
 #}

{% form '\\XLite\\View\\Form\\Checkout\\UpdateProfile' with {className: 'address shipping-address'} %}
  <ul class="form shipping-address-form">
    {% for fieldName, fieldData in this.getAddressSchemaFields() %}
      <li class="item-{{ fieldName }} {{ fieldData.additionalClass }} clearfix">
        {{ this.displayCommentedData(this.getFieldCommentedData(fieldData)) }}
        {{ fieldData.widget.display() }}
        {{ widget_list('checkout.shipping.address.' ~ fieldName, address=this.getAddressInfo(), fieldName=fieldName, fieldData=fieldData) }}
      </li>
    {% endfor %}
    {{ widget_list('checkout.shipping.address', address=this.getAddressInfo()) }}
  </ul>
{% endform %}
