{##
 # Left side menu link
 #}

<div class="line">
  {% if this.getLink() %}
    <a href="{{ this.getLink() }}" class="link"{% if this.getTooltip() %} title="{{ this.getTooltip() }}"{% endif %}{% if this.getBlankPage() %} target="_blank"{% endif %}>{{ this.getIcon()|raw }}{% if this.getTitle() %}<span>{{ this.getTitle()|raw }}</span>{% endif %}</a>
  {% else %}
    <span class="link"{% if this.getTooltip() %} title="{{ this.getTooltip() }}"{% endif %}>{{ this.getIcon()|raw }}{% if this.getTitle() %}<span>{{ this.getTitle()|raw }}</span>{% endif %}</span>
  {% endif %}
  {% if this.getLabel() %}
    <a href="{{ this.getLabelLink() }}" class="label"><span title="{{ this.getLabelTitle() }}">{{ this.getLabel()|raw }}</span></a>
  {% endif %}
</div>
