{##
 # Invoice payment methods
 #
 # @ListChild (list="invoice.bottom.address.billing", weight="20")
 #}
<div style="font-size: 15px;margin-top:15px;">
  <strong style="color: #000;font-size: 20px;padding-bottom: 6px;display: block;font-weight: normal;">{{ t('Payment method') }}</strong>
  {% if this.order.getVisiblePaymentMethods() %}
    {% for m in this.order.getVisiblePaymentMethods() %}
      {{ m.title|raw }}<br />
    {% endfor %}
  {% elseif this.order.getPaymentMethodName() %}
    {{ t(this.order.getPaymentMethodName())|raw }}<br />
  {% else %}
    {{ t('n/a') }}<br />
  {% endif %}
  {% if this.order.getPaymentTransactionId() %}
    {{ t('Transaction ID') }}: {{ this.order.getPaymentTransactionId() }}
  {% endif %}
</div>
