{##
 # Additional info. Transaction fields 
 #
 #}

<table class="fields">

  <tr>
    <td class="name">{{ t('Message') }}:</td>
    <td class="value">{{ tr.message|raw }}</td>
  </tr>

  <tr>
    <td class="name">{{ t('Transaction ID') }}:</td>
    <td class="value">{{ tr.txnid }}</td>
  </tr>

  {% for field in tr.fields %}
    <tr>
      <td class="name">{{ field.name|raw }}:</td>
      <td class="value">{{ field.value|raw }}</td>
    </tr>
  {% endfor %}

</table>

