{##
 # Vendor account signin notification to the user: body
 #}
<p>{{ t('Thank you for creating a vendor account at company', {'company': this.config.Company.company_name}) }}</p>

<p>{{ t('Once your account is approved by administrator, you will be able to log in and start selling.') }}</p>

<p>{{ t('Your account email is X.', {'email': this.profile.getLogin()}) }}</p>
{% if this.password %}
  <p>{{ t('Your account password is X.', {'password': this.password}) }}</p>
{% endif %}
{% if not this.password %}
  <p>{{ t('The password is the one you specified.') }}</p>
{% endif %}
