{##
 # Invoice shipping methods
 #
 # @ListChild (list="invoice.bottom.address.shipping", weight="20")
 #}
<div class="method-box">
  <strong class="method-title">{{ t('Shipping method') }}</strong>
  {% if this.getShippingModifier() and this.shippingModifier.getMethod() %}
    {{ this.shippingModifier.method.getName()|raw }}
  {% elseif this.order.getShippingMethodName() %}
    {{ t(this.order.getShippingMethodName())|raw }}
  {% else %}
    {{ t('n/a') }}
  {% endif %}

  {% if not this.order.trackingNumbers.isEmpty() %}
    <div class="tracking-number-box">
      <strong class="method-title">{{ t('Tracking numbers') }}</strong>
      <ul class="tracking-number-list">
        {% for number in this.order.trackingNumbers %}
          <li>{{ number.getValue() }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>