{##
 # Invoice payment methods
 #
 # @ListChild (list="invoice.bottom.address.billing", weight="20")
 #}
<div class="method-box">
  <strong class="method-title">{{ t('Payment method') }}</strong>
  {% if this.order.getVisiblePaymentMethods() %}
    {% for m in this.order.getVisiblePaymentMethods() %}
      {{ m.getTitle()|raw }}<br />
    {% endfor %}
  {% elseif this.order.getPaymentMethodName() %}
    {{ t(this.order.getPaymentMethodName())|raw }}<br />
  {% else %}
    {{ t('n/a') }}<br />
  {% endif %}
  {% if this.order.getPaymentTransactionId() %}
    {{ t('Transaction ID') }}: {{ this.order.getPaymentTransactionId() }}
  {% endif %}
  {% for item in this.order.getPaymentTransactionData(1) %}
    <div class="sub-data">
      <strong class="title">{{ t(item.title) }}</strong>
      <span class="value">{{ item.value }}</span>
    </div>
  {% endfor %}
</div>
