{##
 # Cart data bottom
 #}

 <table style="border-color: #cadce8;width: 100%;max-width: 700px;">

    {% if this.order.isPaymentShippingSectionVisible() %}
      <tr>
        {% if this.order.isPaymentSectionVisible() %}
          <td style="padding-top: 20px;padding-right: 15px;width: 90%;font-size: 15px;vertical-align: top;">
            <div style="position: relative;min-width: 300px;background: #f9f9f9;min-height: 270px;border-radius: 6px;padding: 20px;">
                {{ widget(template='order/invoice/parts/bottom.address.billing.twig', baddress=this.order.profile.billing_address, saddress=this.order.profile.shipping_address) }}
                {{ widget(template='order/invoice/parts/bottom.methods.payment.twig', baddress=this.order.profile.billing_address, saddress=this.order.profile.shipping_address) }}
            </div>
          </td>
        {% endif %}
        {% if this.order.isShippingSectionVisible() %}
          <td style="padding-top: 20px;padding-right: 0;width: 50%;font-size: 15px;vertical-align: top;">
            <div style="position: relative;min-width: 300px;background: #f9f9f9;min-height: 270px;border-radius: 6px;padding: 20px;">
                {{ widget(template='order/invoice/parts/bottom.address.shipping.twig', baddress=this.order.profile.billing_address, saddress=this.order.profile.shipping_address) }}
                {{ widget(template='order/invoice/parts/bottom.methods.shipping.twig', baddress=this.order.profile.billing_address, saddress=this.order.profile.shipping_address) }}
            </div>
          </td>
        {% endif %}
      </tr>
    {% endif %}

    {% for w in this.getViewList('invoice.bottom') %}
      <tr>
        {{ w.display() }}
      </tr>
    {% endfor %}

</table>