{##
 # Language label name cell
 #}

<div class="language-labels">

  <div class="label-name">

    {% if this.isSeveralLanguagesExists() %}
      <ul class="lng-marks">
        {% for code, lng in this.getLanguageMarks(this.entity) %}
          <li><span class="{{ lng.status }}">{{ code }}</span></li>
        {% endfor %}
      </ul>
    {% endif %}

    <ul class="lng-marks">
      <li><span class="open-edit-box">{{ t('Edit') }}</span></li>
    </ul>
    
    <span class="name">{{ this.entity.getName() }}</span>

    <img src="skins/admin/en/images/spacer.gif" class="right-fade" alt="">

  </div>

  <div class="label-edit" style="display: none;">

    {% if this.isTranslatedLanguageSelected() %}
      <div class="left">
        <div class="lng-title">{{ this.translationLanguageObject.name }}</div>
        <textarea
          name="translated[{{ this.entity.label_id }}]"
          lang="{{ this.translationLanguageObject.code }}"
          class="form-control"
          xml:lang="{{ this.translationLanguageObject.code }}"
          {% if this.translationLanguageObject.r2l %} dir="rtl"{% endif %}>{{ this.getLabelTranslatedValue(this.entity) }}</textarea>
      </div>
    {% endif %}

    <div class="right">
      <div class="lng-title">{{ this.defaultLanguageObject.name }} ({{ t('default') }})</div>
      <textarea
        {% if this.isDefaultLanguageNonEditable() %}
        readonly="readonly"
        class="form-control non-editable"
        {% else %}
        class="form-control"
        name="current[{{ this.entity.label_id }}]"
        {% endif %}
        lang="{{ this.defaultLanguageObject.code }}"
        xml:lang="{{ this.defaultLanguageObject.code }}"
        {% if this.defaultLanguageObject.r2l %} dir="rtl"{% endif %}>{{ this.getLabelDefaultValue(this.entity) }}</textarea>
    </div>

  </div>

  <div class="clear"></div>

</div>
