{##
 # Top categories list
 #}
<ul class="menu menu-list{% if not this.isSubtree() %} catalog-categories catalog-categories-path{% endif %}">
  {% for idx, _category in this.getCategories(rootId) %}
    <li {{ this.displayItemClass(idx, loop.length, _category)|raw }}>
      <a href="{{ _category.link }}" {{ this.displayLinkClass(idx, loop.length, _category)|raw }}>{{ _category.name }}</a>
    </li>
  {% endfor %}
  {% for idx, w in this.getViewList('topCategories.children', {'rootId': this.getParam('rootId'), 'is_subtree': this.getParam('is_subtree')}) %}
    <li {{ this.displayListItemClass(idx, loop.length, w)|raw }}>{{ w.display() }}</li>
  {% endfor %}
</ul>
