{##
 # Modules main section list
 #
 # @ListChild (list="itemsList.module.manage.columns.module-main-section.messages", weight="30")
 #}

{% if not this.module.canDisable() %}
  <div class="note dependencies">
  
    {{ t('Can\'t be disabled. The module is required by:') }}
  
    <ul>
      {% for depend in this.module.getDependentModules() %}
        <li>
          <a href="#{{ depend.getName() }}">{{ depend.getModuleName() }} ({{ t('by') }} {{ depend.getAuthorName() }})</a>
        </li>
      {% endfor %}
    </ul>
  
  </div>
{% endif %}
