{##
 # Contact us email body (to admin)
 #}
<p>
  <b>{{ t('Name') }}:</b> {{ this.data.name }}<br />
  <b>{{ t('E-mail') }}:</b> {{ this.data.email }}<br />
  <b>{{ t('Subject') }}:</b> {{ this.data.subject }}<br />
</p>
<p>
  {{ this.data.message|nl2br }}
</p>