{##
 # Banner rotation widget template
 #}

<div id="banner-rotation-widget" class="carousel slide banner-carousel lazy-load">
  {{ this.displayCommentedData(this.getCommentedData()) }}

  <!-- Indicators -->
  {% if this.isRotationEnabled() %}
    <ol class="carousel-indicators">
      {% for i, image in this.getImages() %}
        <li data-target="#banner-rotation-widget" data-slide-to="{{ i }}"></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="carousel-inner" role="listbox">
    {% for image in this.getImages() %}
      <a {% if image.bannerRotationSlide.getFrontLink() %} href="{{ image.bannerRotationSlide.getFrontLink() }}"{% endif %} class="item">
        <img src="{{ image.getFrontURL() }}" alt="{{ image.getAlt() }}" >
      </a>
    {% endfor %}
  </div>
</div>
