{##
 # Checkbox template
 #}
<span class="input-field-wrapper checkbox {{ this.getWrapperClass() }}">
  {{ this.displayCommentedData(this.getCommentedData()) }}
  <input type="hidden" name="{{ this.getName() }}" value="" />
  {% set caption = this.getParam('caption') %}
  {% if caption is empty %}
    <input{{ this.getAttributesCode()|raw }} />
  {% else %}
    <label>
      <input{{ this.getAttributesCode()|raw }} />
      <span class="caption">{{ caption }}</span>
    </label>
  {% endif %}
</span>
