{##
 # Layout type selector
 #}
<div class="layout-types {{ 'layout-group-' ~ this.getLayoutGroup() }}">
  <div class="hidden-field">
    {% include 'form_field/select.twig' %}
  </div>
  {% for optionValue, optionLabel in this.getOptions() %}
    <div class="{{ this.getOptionClasses(optionValue, optionLabel) }}" data-layout-type="{{ optionValue }}" data-layout-group="{{ this.getLayoutGroup() }}" data-layout-preview="{{ this.getPreviewImage(optionValue) }}">{{ this.getImage(optionValue)|raw }}</div>
  {% endfor %}
</div>
