{##
 # Select state
 #}

{% spaceless %}
<select id="{{ this.getFieldId() }}" name="{{ this.getName() }}"{{ this.getAttributesCode()|raw }} data-value="{{ this.getValue() }}">
  {% if this.getParam('selectOne') %}
      <option value="" {% if this.isOptionSelected(null) %}selected="selected"{% endif %} data-select-one="data-select-one">{{ this.getParam('selectOneLabel') }}</option>
  {% endif %}
  {% for index, state in this.getOptions() %}
    {% if this.isGroup(state) %}
        <optgroup {{ this.getOptionGroupAttributesCode(index, state)|raw }} data-id='{{ index }}'>
          {% for state2 in state.options %}
              <option value="{{ state2.getStateId() }}" {% if this.isOptionSelected(state2.getStateId()) %} selected="selected" {% endif %}>{{ state2.getState()|raw }}</option>
          {% endfor %}
        </optgroup>
    {% else %}
        <option value="{{ state.getStateId() }}" {% if this.isOptionSelected(state.getStateId()) %} selected="selected" {% endif %}>{{ state.getState()|raw }}</option>
    {% endif %}
  {% endfor %}
</select>
{% endspaceless %}