{##
 # Package detail
 #}
<div class="package">
  <h2>{{ t('Package') }} {{ this.getIndex() }}</h2>
  <div class="package-info">
    <ul class="fields">
      {% for field, value in this.getPackageFields() %}
        <li>
          <span class="field"><strong>{{ field }}</strong></span>
          <span class="value">{{ value }}</span>
        </li>
      {% endfor %}
    </ul>

    <ul class="items">
      <li class="header">
        <span class="name">{{ t('Name') }}</span>
        <span class="qry">{{ t('Quantity') }}</span>
        <span class="weight">{{ t('Weight') }}</span>
      </li>

      {% for item in this.getPackageItems() %}
        <li>
          {% if item.item %}
            <span class="name">
              {% if item.item.getUrl() %}
                <a href="{{ item.item.getUrl() }}" class="item-name">{{ item.item.name }}</a>
              {% endif %}
              {% if not item.item.getUrl() %}
                <span class="item-name">{{ item.item.name }}</span>
              {% endif %}
            </span>
          {% endif %}
          {% if not item.item %}
            <span class="name">
              <span class="item-name">{{ item.sku }}</span>
            </span>
          {% endif %}
          <span class="qry">{{ item.qty }}</span>
          <span class="weight">{{ item.weight }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
