{##
 # Payment methods list widget for popup
 #}
        
<ul>
  <li class="payment-logo">
  {% if payment.getAdminIconURL() %}
    <img src="{{ payment.getAdminIconURL() }}" alt="{{ payment.getTitle() }}" />
  {% else %}
    {% if payment.getIconURL() %}
      <img src="{{ payment.getIconURL() }}" alt="{{ payment.getTitle() }}" />
    {% endif %}
  {% endif %}
   </li>
   <li class="title">{{ payment.getName() }}</li>
   <li class="actions">
    <div class="separator"></div>
    <div {% if payment.getAdded() %}class="switcher enabled" title="{{ t('Payment method has been added') }}"{% else %}class="switcher disabled" title="{{ t('Payment method was not added') }}"{% endif %}>
      <i class="fa fa-check-circle"></i>
    </div>
    <div class="separator"></div>
    <div class="button">
    {% if payment.getModuleEnabled() and not payment.getAdded() %}
      {{ widget('XLite\\View\\Button\\Link', label=t('Add'), location=url('payment_settings', 'add', {'id': payment.getMethodId()})) }}
    {% endif %}
    {% if payment.getAdded() %}
      {{ widget('XLite\\View\\Button\\Link', label=t('Settings'), location=url('payment_settings', 'add', {'id': payment.getMethodId()})) }}
    {% endif %}
    {% if this.isDisplayInstallModuleLink(payment) %}
      {{ widget('XLite\\View\\Button\\Link', label=t('Install'), location=this.getPaymentModuleURL(payment), style='regular-main-button install-link') }}
    {% endif %}
    {% if this.isDisplayInstallModuleButton(payment) %}
      {{ widget('XLite\\View\\Button\\Addon\\Install', moduleId=payment.getModuleId(), paymentMethodId=payment.getMethodId(), style='regular-main-button install', jsConfirmText=t('System will download and install this module from marketplace. Continue?')) }}
    {% endif %}
    </div>
  </li>
</ul>
