{##
 # Dropdown button
 #}
{{ this.displayCommentedData(this.getCommentedData()) }}
<div class="btn-group dropup items-export">
  {% if this.isMultipleOptions() %}
    <button type="button" class="btn regular-button toggle-list-action dropdown-toggle always-enabled" data-toggle="dropdown">
      <span>{{ t(this.getButtonLabel()) }}</span>
      <span class="caret"></span>
      <span class="sr-only"></span>
    </button>

    {% if this.getAdditionalButtons() %}
    <ul class="dropdown-menu" role="menu">
      {% for button in this.getAdditionalButtons() %}
        <li>{{ button.display()|raw }}</li>
      {% endfor %}
    </ul>
    {% endif %}

  {% else %}
    <button type="button" class="btn regular-button always-enabled">
      <span>{{ t(this.getButtonLabel()) }}</span>: <span>{{ this.getFirstProviderLabel() }}</span>
    </button>
  {% endif %}
</div>

{% if not this.isMultipleOptions() %}
<div class='hidden'>
  {% for button in this.getAdditionalButtons() %}
  {{ button.display()|raw }}
  {% endfor %}
</div>
{% endif %}
