{##
 # Regular button
 #}

{% if this.getButtonTooltip() %}
<div class="button-tooltip-wrapper">
    <div
            data-toggle="popover"
            data-trigger="{{ this.getTrigger() }}"
            data-placement="{{ this.getParam('placement') }}"
            data-content="{{ this.getButtonTooltip()|raw }}"
            data-html="true"
            data-help-id="{{ this.getHelpId() }}"
            data-delay="{{ this.getDelay() }}"
            data-keep-on-hover="{{ this.isKeepOnHover() }}"
            v-xlite-tooltip
            class="tooltip-main">

        {% include 'button/regular.twig' %}
    </div>
</div>
{% endif %}

{% if this.getSeparateTooltip() %}
<div class="button-tooltip-wrapper">
    <div class="button-tooltip">
        {% include 'button/regular.twig' %}
    </div>
    {{ widget('\\XLite\\View\\Tooltip', text=this.getSeparateTooltip(), isImageTag='true', className='help-icon') }}
</div>
{% endif %}

